<a href="https://colab.research.google.com/github/nurulazkiyah/KKA-X-Semester-1-Nurul-A/blob/main/1_Fungsi_Print_Nurul_Azkiyah_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nama : nurul azkiyah

kelas : X.1

absen : 25

#Menampilkan Teks Bebas

In [ ]:
print("Nurul Azkiyah")

Nurul Azkiyah

#Menampilkan Nilai Variabel

In [1]:
nama_idola = "Hanan Attaki"
print(nama_idola)

Hanan Attaki

In [ ]:
usia = 15
print(usia)

15

latihan soal:

1.Buat variabel nama saudara & tampilkan

2.Buat variabel jumlah saudara & tampilkan

In [ ]:
nama_saudara = "putra"
print (nama_saudara)

putra

In [ ]:
jumlah_saudara = 1
print (jumlah_saudara)

1

#Menampilkan Nilai Variabel dan String

In [ ]:
print("Nama idola saya adalah",nama_idola,".Usianya adalah",usia,"tahun.")

Nama idola saya adalah Hanan Attaki .Usianya adalah 15 tahun.

In [ ]:
print("Nama idola saya adalah "+nama_idola+".Usianya adalah "+str(usia)+" tahun.")

Nama idola saya adalah Hanan Attaki.Usianya adalah 15 tahun.

In [ ]:
print(f"Nama idola saya adalah {nama_idola}.Usianya adalah {usia} tahun")

Nama idola saya adalah Hanan Attaki.Usianya adalah 15 tahun

#Escape String

In [ ]:
print("Nama: Nurul Azkiyah")

print("Kelas: X.1")

print("No. Absen: 25")

Nama: Nurul Azkiyah
Kelas: X.1
No. Absen: 25

In [ ]:
print("""Nama: Nurul Azkiyah

Kelas: X.1

No. Absen: 25""")

Nama: Nurul Azkiyah

Kelas: X.1

No. Absen: 25

In [ ]:
print("""Nama\t\t: Nurul Azkiyah
Kelas\t\t: X.1
No.Absen\t: 25""")

Nama		: Nurul Azkiyah
Kelas		: X.1
No.Absen	: 25

In [ ]:
print("Halo Nama Saya Habib Jafar")

Halo Nama Saya Habib Jafar

In [ ]:
print('Halo Nama Saya Habib Jafar')

Halo Nama Saya Habib Jafar

In [ ]:
print('Halo Nama Saya Habib Ja\'far')

Halo Nama Saya Habib Ja'far

In [ ]:
print ("Halo Nama Saya Habib Ja'far")

Halo Nama Saya Habib Ja'far

In [ ]:
print("Bu Shinta berkata,\"Tolong fokus ke TV sejenak.\"")

Bu Shinta berkata,"Tolong fokus ke TV sejenak."

In [ ]:
print('Bu Shinta berkata,"Tolong fokus ke TV sejenak.')

Bu Shinta berkata,"Tolong fokus ke TV sejenak.

In [ ]:
print("Silakan simpan file tugas KKA di folder Local disk D:\\MAN Demak\\KKA\\Tugas")

Silakan simpan file tugas KKA di folder Local disk D:\MAN Demak\KKA\Tugas

In [ ]:
print('Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal Piket."\n\nSenin\tSelasa\tRabu\nJielo\tHasbi\tNaufal\nAzam\tA\'inun\tNurul\t')

Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket."

Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul

#Parameter Fungsi Print

In [ ]:
nama_siswa_1="Dias"
nama_siswa_2="Disa"

print(nama_siswa_1)
print(nama_siswa_2)

Dias
Disa

In [ ]:
nama_siswa_1="Dias"
nama_siswa_2="Disa"

print(nama_siswa_1, end=" ")
print(nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep="-")

Dias-Disa

In [ ]:
nama_siswa_3 = "Kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"

print(nama_siswa_6, nama_siswa_3, nama_siswa_5, nama_siswa_4, nama_siswa_4, sep="/")

Ridho/Kinan/Naufal/Azka/Azka

In [ ]:
print(nama_siswa_4, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_5, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_6,)

Azka*Azka*Naufal*Kinan*Ridho